.weave {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.flow {
  grid-column: 2;
  grid-row: 3 / span 2;
}

.nebula {
  grid-column: 1;
  grid-row: 5 / span 2;
}

.header {
  width: 100%;
  text-align: right;
  position: fixed;
  z-index: 1;
  background-color: #f7fafc;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 50px;
    color: #0f0f0f;
    font-size: 26px;
    font-weight: 600;
    font-family: "scandia-line-web-stencil", "sans-serif";
    @media only screen and (max-width: 640px) {
      padding: 0px 10px;
    }
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  @media only screen and (max-width: 640px) {
    flex-direction: column;
  }
}

.link {
  display: inline-block;
  padding: 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  color: #0f0f0f;
  font-weight: 600;
  @media only screen and (max-width: 640px) {
    margin: 0;
  }
}

.active {
  color: #dd6b20;
}
